body {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1em;
	background: #87CEFA url(./mountainview.jpg) ;
	background-size: 3000px 4000px;
	width:  auto;
	overflow:  scroll;
}

h1 {
	font-size: 2em;
	font-style:  italic;
	font-weight: bold;
	color: white;
	}

table {
	/* font-size: 1em; */
	color: white;
	text-shadow: 0.5px 0.5px 0.5px black;
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

caption {
	background-color:#87CEFA ;
}

th {
	font-size: 0.5em;
}

thead {
	letter-spacing: 2px;
	text-align: left;
}

td {
	padding: 10px;
	border:  2px solid black;
}

a {
	color: #4B0082
	margin-bottom: 10px;
	font-weight: bold;
}

address {
	font-size: 0.8em;
}

.button {
	font-size: 1.2em;
	font-style: italic;
	color:  #4B0082;

}

.plan-text {
	font-style: italic;
	order:  1;
}
.blog-post {
	background-color: gray;
	border: 2px solid black;
	padding: 10px;
	border-radius: 10px;
	width: 20%;
	float:  right;
	margin-right: 5%;
	height:  auto;
	text-align:  center;

}
.item-choice {
	font-size: 1.2em;
	font-style: italic;
 	color:  white;
}

.contact-details {
	font-style: italic;
	padding: 10px;
}

.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

#favDialog {
		position: absolute;
		top: 350px;
		left: 100px;
		background-color:#87CEFA ;
	}

#favTravel {
	font-size: 1em;
	font-style: italic;
	color:  #4B0082;
}

#updateDetails {
	font-size: 1em;
	font-style: italic;
	color:  #4B0082;
}

#ski-ddown {
	font-size: 1em;
	font-style: italic;
	color:  #4B0082;
}

#mySkis {
	font-size: 1em;
	font-style: italic;
	color:  #4B0082;
}

img, embed,
object, video {
	max-width:  100%;
}