body {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.5em;
	background: #87CEFA url(./mountainview.jpg) no-repeat;
/* 	background-color:#87CEFA;
	background: url(./mountainview.jpg); */
	background-size: 3000px 3000px;
	overflow:  scroll;
}

table {
	font-size: 1.2em;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 1px black;
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

caption {
	background-color:#87CEFA ;
}

th {
	font-size: 0.5em;
}
]
tbody td {
	color:  white;
	text-shadow: 1px 1px 1px black;
	border:  20px;
}

thead {
	background-color:
	color: white;
	border: 2px solid black;
	letter-spacing: 2px;
	text-align: left;
}
td {
	padding: 10px;
	letter-spacing: 1px;
	border:  2px solid black;
}

li {
	font-size: 1em;
}

h1 {
	color: white;
	}

.blog-post {
	background-color: gray;
	font-size: 1em;
	border: 2px solid black;
	margin-bottom: 5px;
	padding: 10px;
	border-radius: 10px;
	width: 20%;
	float:  right;
	margin-right: 5%;
	height:  0;
	padding-bottom: 30%;
}

.choice {
	color:  white;
	margin-bottom: 20px;
}

.contact-details {
	font-size: 1em;
	font-style: italic;
	padding-bottom: 10px;
}

a {
	font-size: 1.2em;
	color: #4B0082
	margin-bottom: 10px;
	font-weight: bold;
}

#favDialog {
		position: absolute;
		top: 350px;
		left: 100px;
		background-color:#87CEFA ;
	}
#favTravel {
	font-size: 1em;
	font-style: italic;
	color:  #4B0082;
}
#updateDetails {
	font-size: 1em;
	font-style: italic;
	color:  #4B0082;
}

#ski-ddown {
	font-size: 1em;
	font-style: italic;
	color:  #4B0082;
}

#mySkis {
	font-size: 1em;
	font-style: italic;
	color:  #4B0082;
}

.ski-choice {
	font-size: 1.5em;
	font-style: italic;
	/* color:  #4B0082; */
	color:  white;
}

.button {
	font-size: 1.2em;
	font-style: italic;
	color:  #4B0082;

}
.costs-table {
	border:  2px solid #808000;
	color: :#556B2F;
	line-height: 2em;
	margin-top: 20px;
}

.plan-text {
	font-style: italic;
}

img, embed,
object, video {
	max-width:  100%;
}