body {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.2em;
	background: #87CEFA url(./mountainview.jpg) ;
	background-size: 3000px 4000px;
	width:  auto;
	overflow:  scroll;
}

table {
	/* color: white; */
	font-size: 1.2em;
	text-shadow: 1px 1px 1px black;
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

caption {
	background-color:#87CEFA ;
}

th {
	font-size: 0.5em;
}
]
tbody td {
	color:  white;
	text-shadow: 1px 1px 1px black;
	border:  20px;
}

thead {
	letter-spacing: 2px;
	text-align: left;
}

td {
	padding: 10px;
	letter-spacing: 1px;
}

li {
	font-size: 1em;
}

h1 {
	/* color: white; */
	}

address {
	font-size: 0.8em;
}

.blog-post {
	background-color: gray;
	font-size: 1em;
	padding: 10px;
	border-radius: 10px;
	width: 20%;
	float:  right;
	margin-right: 5%;
	height:  auto;
	text-align:  center;
}

.choice {
	color:  white;
	margin-bottom: 20px;
	font-size: 1.5em;
	font-style: italic;
}

.contact-details {
	font-size: 1em;
	font-style: italic;
	padding-bottom: 10px;
}

.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

a {
	font-size: 0.8em;
	color: #4B0082
	margin-bottom: 10px;
	font-weight: bold;
}

/* #favDialog {
		position: absolute;
		top: 350px;
		left: 100px;
		background-color:#87CEFA ;
	}
#favTravel {
	font-size: 1em;
	font-style: italic;
	color:  #4B0082;
}
#updateDetails {
	font-size: 1em;
	font-style: italic;
	color:  #4B0082;
}

#ski-ddown {
	font-size: 1em;
	font-style: italic;
	color:  #4B0082;
}

#mySkis {
	font-size: 1em;
	font-style: italic;
	color:  #4B0082;
} */

.item-choice {
	font-size: 1em;
	font-style: italic;
	color:  #4B0082;
	/* color:  white; */
}

.button {
	font-size: 1.2em;
	font-style: italic;
	color:  #4B0082;

}
.costs-table {
	line-height: 2em;
	margin-top: 20px;
}

.plan-text {
	font-style: italic;
	order:  1;
}

img, embed,
object, video {
	max-width:  100%;
}